* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #e4ccb8;
  background: linear-gradient(60deg, #e4ccb8 0%, #e09d66 100%); }

h1, h2 {
  font-family: Monserrat;
  color: #856f4a; }

h1 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  font-size: 2rem; }

h2 {
  text-align: center;
  margin-top: 1rem; }

.about {
  box-sizing: border-box;
  width: 90%;
  text-align: center; }

.about p {
  font-family: Noto mono;
  padding: 2.5%;
  background: #e7b568;
  background: linear-gradient(30deg, #e7b568 28%, #e6c867 35%, #dabe5d 48%);
  color: #f8efef; }

h4 {
  font-family: Monserrat;
  text-align: center;
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
  color: #856f4a;
  margin-bottom: 2.5rem; }

h4 a {
  color: #856f4a; }

@media screen and (min-width: 820px) {
  .about {
    width: 75%; } }

@media screen and (min-width: 900px) {
  .about {
    width: 60%; } }

textarea {
  resize: none; }

.contact__form__input::placeholder {
  opacity: 0.5; }

.contact__form__input--mail {
  width: 48%;
  height: auto; }

.contact__form__input--name {
  width: 48%;
  height: auto; }

.contact__form__input--object {
  height: auto;
  margin-bottom: 0.5rem; }

.contact__form__input--align {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box; }

@media screen and (min-width: 800px) {
  textarea {
    height: 7.5rem !important; } }

@media screen and (min-width: 1200px) {
  form {
    width: 95%;
    margin-left: 2.5%; } }

.knowledges__grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem; }

.knowledges__grid__icons {
  padding: 0.5rem;
  justify-content: center;
  align-items: center; }
  .knowledges__grid__icons--php {
    height: 100%;
    margin-top: 0.5rem; }
  .knowledges__grid__icons--jq {
    padding-top: 0.5rem; }

.knowledges__grid__icons img {
  width: 55px;
  height: 55px; }

@media screen and (min-width: 400px) {
  .knowledges__grid {
    gap: 10%; } }

@media screen and (min-width: 820px) {
  .knowledges__grid {
    box-sizing: border-box;
    width: auto;
    height: 50%;
    grid-template-columns: auto auto;
    gap: 20%;
    margin-right: 20px; } }

@media screen and (min-width: 820px) {
  .grid {
    display: flex; } }

header {
  height: 10rem;
  background: center/100% url(../../portfolio/img/header.svg); }

li {
  display: inline; }

a.nav-link {
  position: relative;
  left: 70%;
  width: 35%;
  color: #f8efef !important;
  background-color: #ebbd6b !important;
  text-align: center !important;
  text-decoration: underline !important;
  font-family: Roboto Mono !important; }

@media screen and (min-width: 992px) {
  a.nav-link {
    background: none !important;
    color: #e4ccb8 !important;
    font-size: 120% !important;
    font-family: Roboto Mono !important;
    width: auto !important;
    position: relative;
    left: 0%; }
  header {
    height: 15rem; } }

.form__button {
  background-color: #ebbd6b;
  color: #f8efef;
  font-weight: 300;
  font-family: roboto;
  margin-top: 0.5rem;
  border: none; }

.btn:hover {
  background-color: #ebbd6b;
  border: none; }

.btn:active {
  background-color: #ebbd6b !important;
  border: none !important; }

.btn:visited {
  background-color: #ebbd6b !important;
  border: none !important; }

.carousel-inner {
  height: 10rem;
  width: auto;
  margin: 2.5rem !important; }

@media screen and (min-width: 420px) {
  .carousel-inner {
    height: 15rem;
    width: auto; } }

@media screen and (min-width: 750px) {
  .carousel-inner {
    height: 20rem; } }

@media screen and (min-width: 1000px) {
  .carousel-inner {
    height: 25rem; } }

@media screen and (min-width: 1200px) {
  .carousel-inner {
    height: 30rem; } }

@media screen and (min-width: 1200px) and (min-width: 1500px) {
  .carousel-inner {
    height: 35rem; } }

footer {
  background: center/auto url(../img/star_pattern.svg);
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: -1rem; }

footer .footer__copyright {
  display: flex;
  justify-content: center;
  color: ivory;
  padding-top: 1.5rem;
  font-size: 20px; }

footer .footer__icons {
  display: flex;
  justify-content: center;
  margin-right: 1rem; }

.footer__icons__list__copyright {
  background: center/auto url(../img/star_pattern.svg);
  font-size: 1rem;
  color: ivory;
  text-align: center;
  font-style: italic;
  margin-bottom: -1rem; }

.footer__icons__list__copyright a {
  font-size: 1rem;
  color: #625591;
  text-decoration: underline;
  text-align: center;
  font-style: italic; }

.footer__icons__list img {
  width: 40px;
  height: 40px; }

@media screen and (min-width: 750px) {
  footer {
    background: center/auto url(../img/star_pattern.svg);
    height: 15rem;
    margin-bottom: -5rem; }
  .footer__icons__list img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 50px;
    height: 50px; } }
