@mixin icons {
    height: 100%;
    margin-top: 0.5rem;  
}
$main-color: rgb(133, 111, 74);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(228,204,184);
    background: linear-gradient(60deg, rgba(228,204,184,1) 0%, rgb(224, 157, 102) 100%);
}
h1, h2 {
    font-family: Monserrat;
    color: $main-color;
}
h1 {
    margin-top: 1rem;
    font-size: 3rem;
    text-align: center;
    font-size: 2rem;
}
h2 {
    text-align: center;
    margin-top: 1rem;
}
.about {
    box-sizing: border-box;
    width: 90%;
    text-align: center;
}
.about p {
    font-family: Noto mono;
    padding: 2.5%;
    background: rgb(231,181,104);
    background: linear-gradient(30deg, rgba(231,181,104,1) 28%, rgba(230,200,103,1) 35%, rgba(218,190,93,1) 48%);
    color: rgb(248, 239, 239);
}
h4 {
    font-family: Monserrat;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    font-style: italic;
    color: $main-color;
    margin-bottom: 2.5rem;
}
h4 a {
    color: $main-color;
}
@media screen and (min-width: 820px){
    .about {
        width: 75%;
    }
}
@media screen and (min-width: 900px){
    .about {
        width: 60%;
    }
}

