textarea {
    resize: none;
}
.contact__form__input::placeholder{
    opacity: 0.5;
}
.contact__form__input {
        &--mail {
            width: 48%;
            height: auto;
            
        }
        &--name {
            width: 48%;
            height: auto;
        }
        &--object {
            height: auto;
            margin-bottom: 0.5rem;
        }
}

.contact__form__input--align {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

@media screen and (min-width: 800px){
    textarea {
        height: 7.5rem !important;
    }
}
@media screen and (min-width: 1200px){
    form {
        width: 95%;
        margin-left: 2.5%;
    }
}

