form {
    margin-left: 1rem;  
}
textarea {
    resize: none;
    color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 7.5rem;
    border-radius: 2%;
}
.contact__form__input::placeholder{
    opacity: 0.5;
}
.contact__form__input {
        &--mail {
            width: 48%;
            height: auto;
            
            border-radius: 5%;
        }
        &--name {
            width: 48%;
            height: auto;
            border-radius: 5%;
        }
        &--object {
            width: 90%;
            height: auto;
            margin-bottom: 0.5rem;
            border-radius: 5%;
        }
}

.contact__form__input--align {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px){
    textarea {
        height: 10rem;
    }
}
@media screen and (min-width: 1500px){
    form {
        text-align: center;
    }
    .contact__form__input--align {
        margin-left: 4.5rem;
    }
@media screen and (min-width: 1500px){
    form {
        text-align: center;
        }
    .contact__form__input--align {
            margin-left: 5rem;
        }}
@media screen and (min-width: 1700px){
    form {
        text-align: center;
                }
    .contact__form__input--align {
                    margin-left: 5.3rem;
                }}
}
@media screen and (min-width: 1800px){
    form {
        text-align: center;
    }
    .contact__form__input--align {
        margin-left: 5.5rem;
    }
@media screen and (min-width: 1900px){
    form {
        text-align: center;
    }
     .contact__form__input--align {
        margin-left: 5.9rem;
    }}
}