.knowledges__grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
.knowledges__grid__icons {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
   
        &--php{
            @include icons;
        }
        &--jq {
            padding-top: 0.5rem;
        }
}
.knowledges__grid__icons img {
    width: 55px;
    height: 55px;
}

@media screen and (min-width: 400px) {
    .knowledges__grid {
        gap: 10%;}
}
@media screen and (min-width: 820px){
    .knowledges__grid {
        box-sizing: border-box;
        width: auto;
        height: 50%;
        grid-template-columns: auto auto;
        gap: 20%;
        margin-right: 20px;
    }
}
@media screen and (min-width: 820px){
    .grid {
        display: flex;
    }
}
