.form__button {
    background-color: rgb(235,189,107);
    color: rgb(248, 239, 239);
    font-weight: 300;
    font-family: roboto;
    margin-top: 0.5rem;
    border: none;
}
.btn:hover {
    background-color: rgb(235,189,107);
    border: none;
}
.btn:active {
    background-color: rgb(235,189,107) !important;
    border: none !important;
}
.btn:visited {
    background-color: rgb(235,189,107) !important;
    border: none !important;
}